{% extends "core_index.html" %}

{% block title %} | Criar vagas{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static "parking_creation_form.css" %}">
{% endblock css %}

{% block content %}
    <h2>Criar vagas</h2>
    <form action="{% url "core:index" %}" method="post">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td>
                        Quantidade
                    </td>
                    <td>
                        {{ form.qtd }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Enviar">
                    </td>
                </tr>
            </tbody>
        </table>        
    </form>
{% endblock content %}